/node_modules/
/dist/
/.tmp/
/out-tsc/

/**/*.js
/**/*.js.map
/**/*.ngfactory.ts
/**/*.ngsummary.ts

/projects/demo-prime-preview/dist/
/projects/demo-prime-preview/.angular/

/coverage/
/build/
/lib/

/src/environments/*.ts
!.src/environments/environment.ts

/.idea/
/.vscode/
/*.sublime-project
/*.sublime-workspace
.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

rollup.config.*.js
*.tgz

.pnpm-debug.log

dist/demo-prime/preview/
